.footer1
{
  position: fixed;
  display: flex;
  box-sizing: border-box;
  bottom: 0;
  left: 0;
  padding: 0 2.5%;
  height: 50px;
  width: 100%;
  justify-content: space-between;
  background: #0D2589;
}

.footer1 li
{
  cursor: pointer;
  float: left;
  list-style: none;
  height: 50px;
  margin: 0 20px;
  line-height: 50px;
  color: aliceblue;
  font-weight: 700;
}

.footer1 a{
  height: 50px;
  margin: 0 20px;
  line-height: 50px;
  font-weight: 700;
}

.box {
    width: 40%;
    margin: 0 auto;
    background: rgba(255,255,255,0.2);
    padding: 35px;
    border: 2px solid #fff;
    border-radius: 20px/50px;
    background-clip: padding-box;
    text-align: center;
  }
  
  .overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
  }
  .overlay:target {
    visibility: visible;
    opacity: 1;
  }
  
  .popup {
    margin: 70px auto;
    margin-bottom: 100px;
    padding-bottom: 100px;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 50%;
    position: relative;
    transition: all 5s ease-in-out;
    display: block !important;
    overflow-y: auto;
    
  }
  
  .popup h2 {
    margin-top: 0;
    color: #333;
    font-family: 'Nexa';
    src: url('fonts/nexa-bold.eot');
    src: url('fonts/nexa-bold.eot?#iefix') format('embedded-opentype'),
         url('fonts/nexa-bold.woff') format('woff'),
         url('fonts/nexa-bold.ttf') format('truetype');
  }
  .popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }
  .popup .close:hover {
    color: #06D85F;
  }
  .popup .content {
    max-height: 500px;
    overflow: auto;
  }
  
  @media screen and (max-width: 700px){
    .box{
      width: 70%;
    }
    .popup{
      width: 70%;
    }
  }


.logologo{
  position: relative;
  background: transparent;
  padding-top: 50px;
  text-align: center;
}

body{
  background: url('src/img/bg-img.png');
  background-size: cover;
}

.judul{
  padding-top: 15px;
  font-family: 'Nexa';
  src: url('fonts/nexa-thin.eot');
  src: url('fonts/nexa-thin.eot?#iefix') format('embedded-opentype'),
       url('fonts/nexa-thin.woff') format('woff'),
       url('fonts/nexa-thin.ttf') format('truetype');
  text-align: center;
  color: aliceblue;
}


#search1 {
  position: relative;
  justify-content: center;
  display: flex;
}

a {
  color: #69C;
  text-decoration: none;
}

a:hover {
  color: #F60;
}

input {
  outline: none;
}

input[type=search] {
  font-family: 'Nexa';
  src: url('fonts/nexa-thin.eot');
  src: url('fonts/nexa-thin.eot?#iefix') format('embedded-opentype'),
       url('fonts/nexa-thin.woff') format('woff'),
       url('fonts/nexa-thin.ttf') format('truetype');
  font-size: 100%;
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
  display: none;
}

input:-moz-placeholder {
  color: #fff;
}

input::-webkit-input-placeholder {
  color: #fff;
}

#mainsearch input[type=search] {
  width: 350px;
  color: transparent;
  cursor: pointer;
  float: right;
  background: transparent url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 10px center ;
  border: solid 3px #ccc;
  opacity: 0.5;
  padding: 9px 50px 9px 10px;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
}

#mainsearch input[type=search]:hover {
  background-color: #fff;
  opacity: 0.5;
  
}

#mainsearch input[type=search]:focus {
  width: 300px;
  color: #0D2589;
  cursor: auto;
  border-radius: 10px;
  background: aliceblue url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 330px center;
}

#mainsearch input:-moz-placeholder {
  color: transparent;
}

#mainsearch input::-webkit-input-placeholder {
  color: black;
  border: #333;
}

.card-container{
  width: 100%;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-right: 15 px;
  margin-left: 15px;
  margin-bottom: 50px;
  text-align: center;
  justify-content: center;
}

.card-text{
  color: black;
}

.card-img{
  max-width: 220px;
  max-height: 100px;
}

.modal-transparent{
  background: transparent;
}

.modal-transparent .modal-content{
  background: transparent;
}

.content{
  text-align: justify;
}